{% extends "layout.html" %}

{% block title %}
    My Cart
{% endblock %}

{% block body %}
    <div style="padding-bottom: 200px; width:100%;">
        <table style="width:100%" id="tables" class="container p-5">
            <tr>
                <th>Cart_ID</th>
                <th>Account_ID</th>
                <th>ISBN</th>
                <th>Sale Price</th>
            </tr>
            {% for i in range(2) %}
                <tr>
                    <td>hardcoded Cart ID</td>
                    <td>hardcoded Account_ID</td>
                    <td>hardcoded ISBN</td>
                    <td>hardcoded Sale Price</td>
                    <td>
                        <form action="/cart" method="post">
                            <button class="btn btn-primary" name="ISBN" value="hardcoded ISBN" type="submit">Remove</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div style="width:100%">
        <h3 >Subtotal (hardcoded no. of items) = ₹ hardcoded total price</h3>
        <br>
        <form action="/cart" method="post">
            <a class="btn btn-primary" id="submit" name="submit" value="hardcoded total price" href="/catalogue">Checkout</a></form>
        <br><br><br>
    </div>

    <script>
        document.querySelector("#submit").onclick = function() {
            if(document.querySelector("#submit").value === "[0]") {
                document.querySelector("#submit").disabled = true;
            } else {
                document.querySelector("#submit").disabled = false;
            }
        }
    </script>
{% endblock %}