.parent {
    height: 90%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;

    background: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);
}

.Heading {
    color: black;
    font-weight: bold;
    font-size: 3em;
}

.choosebox {
    width: 60%;
    height: 65vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
}

.leftbox {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rightbox {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.imgs {
    height: 300px;
    width: 300px;
}

.head {
    color: black;
    font-size: 2.2em;
    font-family: 'Rock Salt', cursive;
}

.go {
    padding: 5px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5em;
    width: 90px;
}

.go:hover {
    background: black;
    color: white;
    cursor: pointer;
}